body:before
{
   content: "";
   position: fixed;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   z-index: -1;
   background-image: radial-gradient(circle, #A9A9A9 0%, #778899 100%);
}
*{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: large;
}
.header {
	position:absolute;
	top:0;
	left:0;
	width: 100%;
	padding:2rem 9%;
	display: flex;
	justify-content: space-between;
	align-items:center;
	z-index: 100;
   background-color: #19bbec;
}
#Heading2 {
        text-align: right;
        font-family:fontawesome;
        text-decoration:none;
        line-height:1;
        font-size:40px;
        letter-spacing:3px;
        color:#ff4800;
        display:block;
        position:absolute;
        top:17px;
        background-color: rgba(173, 216, 230, 0.034);
}
ul li{
   display: inline-block;
   list-style: none;
   margin: 10px 30px;
}
ul li a{
   text-decoration: none;
   color: rgb(216, 121, 33);
  font-size: 25px;
  /*background-color:rgb(10, 124, 231);*/
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
ul li a:hover{
	cursor: pointer;
    background-color: rgb(114, 94, 168);
    color: rgb(199, 109, 6);
    transition: background-color 0.5s transform 0.5s ;
    transform: translateY(-5px);
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#wb_Text1{
   position:absolute;
   left:253px;
   top:196px;
   width:549px;
   height:47px;
   text-align:center;
   z-index:4;
}
/*...about*/ 
.about{
   padding: 60px 120px;
   background-color: #d1a206;
   display: flex;
   justify-content: space-between;
 }
 .about h1,
 .info{
     color: white;
 }
 .about .image{
     margin-left: 100px;
 }
 .about .text-box{
     margin-right: 80px;
 }
 .about img{
     width: 500px;
     height: 500px;
     object-fit: contain;
 }
 .about h1{
     text-align: left;
     font-size: 60px;
     margin-bottom: 50px;
 }
 .about .info{
     margin: 20px 0px 20px 0px;
     font-size: 20px;
     width: 600px;
 }
 .about h3{
     margin-bottom: 10px;
 }
 .about a{
     text-decoration: none;
     color: #fff;
 }
 .about .social-links{
     border: 1px solid rgba(255, 255, 255, 0.863);
     margin-top: 60px;
     width: 800px;
     display: grid;
     grid-template-columns: 1fr 1fr;
     padding: 40px 10px 10px 10px;
     border-radius: 20px;
     color: white;
 }
 .social-links-box h3{
   font-family: 'Times New Roman', Times, serif;
   font-size: medium;
 }
 .about .social-links-box{
     width: 300px;
     margin-bottom: 40px;
     margin-left: 20px;
 }
 /*education*/
 .education{
   padding: 60px 120px;
   background-color: #19bbec;
   border-style: solid;
   border-width: 5px;
   border-color: #366a7a;
   display: flex;
   justify-content: space-between;
 }
 .wb_Heading1{
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   text-decoration-color: antiquewhite;
 }
 .education tr:hover{
   background-color: #d15b0d;
   cursor: pointer;
   transition: background-color 0.5s transform 0.5s ;
    transform: translateY(-5px);
 }
 

 .Table1{
   float:right;
   width: 100%;
   border: 2px solid #FFA500;
   border-radius: 0px;
   background-color: #6495ED;
   background-image: none;
   border-collapse: separate;
   border-spacing: 1px;
   margin: 0;
   padding: 35px;
   display: flex;
   flex-wrap: wrap;
   align-content: center
    
}
#Table1 td
{
   margin: 0;
   padding: 15px;;
}
#Table1 td div
{
   white-space: nowrap;
}
#Table1 p, #Table1 ul
{
   margin: 0;
   padding: 0;
}
#Table1 .cell0
{
   background-color: transparent;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   width: 190px;
   height: 44px;
   color: #000000;
   font-family: Arial;
   font-size: 16px;
   line-height: 18px;
}
#Table1 .cell1
{
   background-color: transparent;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   width: 72px;
   height: 44px;
   color: #000000;
   font-family: "Lucida Sans Unicode";
   font-size: 13px;
   line-height: 17px;
}
#Table1 .cell2
{
   background-color: transparent;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   height: 44px;
   color: #000000;
   font-family: "Lucida Sans Unicode";
   font-size: 17px;
   line-height: 21px;
}
#Table1 .cell3
{
   background-color: transparent;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   width: 190px;
   height: 20px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table1 .cell4
{
   background-color: transparent;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   width: 72px;
   height: 20px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}

#Table1 .cell5
{
   background-color: transparent;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   height: 20px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
.filler {
	width: 25%;
	height: 25px;
	position: absolute;
	top: 0;
	left: 0;
	transform-style: preserve-3d;
   animation: filler-rotate 5s linear infinite;
}
  @keyframes filler-rotate {
	0% {
	  transform: rotateX(8) rotateY(8) rotateZ(5);
	}
	100% {
	  transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
	}
  }
